/* Popup */
body .recitautolink_popup .modal-dialog {
    width: fit-content;
    width: -moz-fit-content;
    max-width: none !important;
    margin: auto;
}

body .recitautolink_popup .modal-body {
    padding: 0;
}

body .recitautolink_popup iframe {
    width: 90vw;
    max-width: 1500px;
    height: 80vh;
    max-height: 80vh;
    border: 0; 
}

body .recitautolink_popup_16x9 iframe {
    width: 70vw !important; 
    max-width: 1500px; 
    height: 43vw !important;
    border: 0; 
}


body .recitautolink_popup .modal-header{ 
    padding: 0.5rem 0.5rem;
    background-color: rgba(221, 222, 220, 0.95)
}

body .recitautolink_popup .modal-header h3{
    margin-bottom: 0rem;
} 