/* Popup */
body .autolink_popup .modal-dialog {
    width: fit-content;
    width: -moz-fit-content;
    max-width: none !important;
    margin: auto;
}

body .autolink_popup .modal-body {
    padding: 0;
}

body .autolink_popup iframe {
    width: 90vw;
    max-width: 1500px;
    height: 80vh;
    max-height: 80vh;
    border: 0; 
}

/* Popup fix for iOS */

@supports (-webkit-overflow-scrolling: touch) {
    
    html {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }

   body.modal-open { /* Popup background wont move */
        position: fixed;
    }
}