
/* Popup */
.autolink_popup, .autolink_popup .modal-dialog {
    max-width: 93vw;
    max-height: 90vh;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
}

.autolink_popup .modal-body {
    padding: 0;
}

.autolink_popup iframe {
    width: 90vw;
    max-width: 1500px;
    max-height: 80vh;
    border: 0; 
}